body {
  margin: 0;
  background-image: url(./components/body/clock.jpg);
  background-size: cover;
  background-position: center;
  background-color: rgba(250, 250, 250, 0.9);
  background-blend-mode: lighten;
}
